/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

app-login {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;

  .mat-form-field-infix {
    width: 30vw;
  }

  .mat-form-field {
    display: block;
  }

  .centered.container {
    display: flex;
    align-items: center;
  }
}
